#scraping relatively static page without selenium

In [1]:
import pandas as pd

colors = 'http://en.wikipedia.org/wiki/List_of_colors:_A%E2%80%93F'
cols_df = pd.read_html(colors)
#print(len(cols_df[0]))
cols_df[0]

                  Name Hex (RGB) Red (RGB)  ... Light (HSL) Satur. (HSV) Value (HSV)
0        Absolute Zero   #0048BA        0%  ...         37%         100%         73%
1           Acid green   #B0BF1A       69%  ...         43%          76%         43%
2                 Aero   #7CB9E8       49%  ...         70%          47%         91%
3            Aero blue   #C0E8D5       75%  ...         83%        17.2%         91%
4       African violet   #B284BE       70%  ...         63%          31%         75%
..                 ...       ...       ...  ...         ...          ...         ...
332  Fuchsia (Crayola)   #C154C1       76%  ...         54%          56%         76%
333     Fuchsia purple   #CC397B       80%  ...         51%          72%         80%
334       Fuchsia rose   #C74375       78%  ...         52%          66%         78%
335            Fulvous   #E48400       89%  ...         45%         100%         89%
336        Fuzzy Wuzzy   #87421F       53%  ...         33%          77%         53%

[337 rows x 10 columns]

#trying to scrape a somewhat dynamic page without selenium

In [ ]:
oils = 'http://ahdb.org.uk/cereals-oilseeds-markets'
pd.read_html(oils) #will show error due to not loading the updated html

ValueError: ignored

#Scraping a somewhat dynamic page with selenium

In [ ]:
!pip install selenium bs4
!apt-get update # apt-get = ensures the updates of the package list
!apt install chromium-chromedriver #updates/installs a correct version

In [ ]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
options = webdriver.ChromeOptions()
options.add_argument('--headless') #we want it to be headless
options.add_argument('--no-sandbox') #other options that are critical for it to actually work properly
options.add_argument('--disable-dev-shm-usage')

In [ ]:
site = 'http://ahdb.org.uk/cereals-oilseeds-markets'
wd = webdriver.Chrome('chromedriver',options = options) #Using chromedriver and the options we stated in the above cell
wd.get(site) #generates updated html
html = wd.page_source #grabbing the html from the page source
df = pd.read_html(html) #loading the grabbed html into a dataframe

In [ ]:
print(df) #this is after selenium has generated what contents should be on the page unlike before

[  UK (ICE) Feed Wheat        £/tonne  Unnamed: 2
0              Jul 21  183.20 (unch)         NaN
1              Nov 21  171.45 (unch)         NaN
2              Jan 22  173.70 (unch)         NaN
3              Mar 22  174.90 (unch)         NaN
4              May 22  176.90 (unch)         NaN
5              Jul 22  174.75 (unch)         NaN
6              Nov 22  166.55 (unch)         NaN
7              Jan 23  168.70 (unch)         NaN
8              Mar 23  170.55 (unch)         NaN
9              May 23  172.30 (unch)         NaN,   Paris (MATIF) Milling Wheat        €/tonne  Unnamed: 2
0                      Sep 21  206.75 (unch)         NaN
1                      Dec 21  207.75 (unch)         NaN
2                      Mar 22  208.25 (unch)         NaN
3                      May 22  209.25 (unch)         NaN
4                      Sep 22  200.25 (unch)         NaN
5                      Dec 22  201.75 (unch)         NaN
6                      Mar 23  202.50 (unch)         NaN
7                      May 23  202.75 (unch)         NaN,   Paris (MATIF) Rapeseed        €/tonne  Unnamed: 2
0                 Aug 21  507.50 (unch)         NaN
1                 Nov 21  502.25 (unch)         NaN
2                 Feb 22  495.75 (unch)         NaN
3                 May 22  492.00 (unch)         NaN
4                 Aug 22  426.00 (unch)         NaN
5                 Nov 22  426.00 (unch)         NaN,   Paris (MATIF) Maize        €/tonne  Unnamed: 2
0              Aug 21  245.25 (unch)         NaN
1              Nov 21  200.25 (unch)         NaN
2              Jan 22  203.00 (unch)         NaN
3              Mar 22  202.50 (unch)         NaN
4              Jun 22  205.00 (unch)         NaN
5              Aug 22  203.00 (unch)         NaN,   US (CBOT) Milling Wheat   US cents/bsh  Unnamed: 2
0                  Jul 21  661.25 (unch)         NaN
1                  Sep 21  663.75 (unch)         NaN
2                  Dec 21  670.25 (unch)         NaN
3                  Mar 22  677.00 (unch)         NaN
4                  May 22  678.50 (unch)         NaN
5                  Jul 22  671.50 (unch)         NaN,   US (CBOT) Maize   US cents/bsh  Unnamed: 2
0          Jul 21  664.25 (unch)         NaN
1          Sep 21  551.00 (unch)         NaN
2          Dec 21  535.75 (unch)         NaN
3          Mar 22  542.75 (unch)         NaN
4          May 22  547.50 (unch)         NaN
5          Jul 22  549.25 (unch)         NaN,   US (CBOT) Soyabeans    US cents/bsh  Unnamed: 2
0              Jul 21  1385.00 (unch)         NaN
1              Aug 21  1346.00 (unch)         NaN
2              Sep 21  1308.00 (unch)         NaN
3              Nov 21  1300.25 (unch)         NaN
4              Jan 22  1304.75 (unch)         NaN
5              Mar 22  1293.25 (unch)         NaN]

In [ ]:
df[0]

  UK (ICE) Feed Wheat        £/tonne  Unnamed: 2
0              Jul 21  183.20 (unch)         NaN
1              Nov 21  171.45 (unch)         NaN
2              Jan 22  173.70 (unch)         NaN
3              Mar 22  174.90 (unch)         NaN
4              May 22  176.90 (unch)         NaN
5              Jul 22  174.75 (unch)         NaN
6              Nov 22  166.55 (unch)         NaN
7              Jan 23  168.70 (unch)         NaN
8              Mar 23  170.55 (unch)         NaN
9              May 23  172.30 (unch)         NaN

In [ ]:
df[1]

  Paris (MATIF) Milling Wheat        €/tonne  Unnamed: 2
0                      Sep 21  206.75 (unch)         NaN
1                      Dec 21  207.75 (unch)         NaN
2                      Mar 22  208.25 (unch)         NaN
3                      May 22  209.25 (unch)         NaN
4                      Sep 22  200.25 (unch)         NaN
5                      Dec 22  201.75 (unch)         NaN
6                      Mar 23  202.50 (unch)         NaN
7                      May 23  202.75 (unch)         NaN

In [ ]:
df[2]

  Paris (MATIF) Rapeseed        €/tonne  Unnamed: 2
0                 Aug 21  507.50 (unch)         NaN
1                 Nov 21  502.25 (unch)         NaN
2                 Feb 22  495.75 (unch)         NaN
3                 May 22  492.00 (unch)         NaN
4                 Aug 22  426.00 (unch)         NaN
5                 Nov 22  426.00 (unch)         NaN

In [ ]:
df[3]

  Paris (MATIF) Maize        €/tonne  Unnamed: 2
0              Aug 21  245.25 (unch)         NaN
1              Nov 21  200.25 (unch)         NaN
2              Jan 22  203.00 (unch)         NaN
3              Mar 22  202.50 (unch)         NaN
4              Jun 22  205.00 (unch)         NaN
5              Aug 22  203.00 (unch)         NaN

In [ ]:
df[4]

  US (CBOT) Milling Wheat   US cents/bsh  Unnamed: 2
0                  Jul 21  661.25 (unch)         NaN
1                  Sep 21  663.75 (unch)         NaN
2                  Dec 21  670.25 (unch)         NaN
3                  Mar 22  677.00 (unch)         NaN
4                  May 22  678.50 (unch)         NaN
5                  Jul 22  671.50 (unch)         NaN

In [ ]:
df[5]

  US (CBOT) Maize   US cents/bsh  Unnamed: 2
0          Jul 21  664.25 (unch)         NaN
1          Sep 21  551.00 (unch)         NaN
2          Dec 21  535.75 (unch)         NaN
3          Mar 22  542.75 (unch)         NaN
4          May 22  547.50 (unch)         NaN
5          Jul 22  549.25 (unch)         NaN

In [ ]:
df[6]

  US (CBOT) Soyabeans    US cents/bsh  Unnamed: 2
0              Jul 21  1385.00 (unch)         NaN
1              Aug 21  1346.00 (unch)         NaN
2              Sep 21  1308.00 (unch)         NaN
3              Nov 21  1300.25 (unch)         NaN
4              Jan 22  1304.75 (unch)         NaN
5              Mar 22  1293.25 (unch)         NaN

In [ ]:
df[0].to_csv('MATIF.csv') #See the attached generated csv file follwing this link: https://drive.google.com/file/d/1sK4hTjuAsZxbwoExidB6ZttmyMUAUgDD/view?usp=sharing